/* 1. reset de css e estilos globais*/
:root {
--cor-fundo: #f0f2f5;
--cor-branco: #ffffff;
--cor-texto-primario: #1c1e21;
--cor-texto-secundario: #606770;
--cor-borda: #dcdfe3;
--cor-acento: #007bff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}